// set variables used by imports then import styles

$body-size: 1rem;
$primary: rgb(53, 65, 86);
$link: rgb(39, 145, 124);
$info: rgb(190, 158, 255);
$dark: #434343;
$menu-item-active-background-color: $primary;
$family-sans-serif: "avenir", sans-serif;
$family-secondary: "Sinhala MN", "avenir", sans-serif;
@import "../../../node_modules/bulma/bulma.sass";

// widely used utility classes
.is-flex-column {
  @extend .is-flex;
  flex-direction: column;
}

/* used by download form and explore form fields */
.control-item {
  @extend .py-2;
  @extend .px-2;
  width: 100%;
  flex-grow: 1;
  min-width: 250px;
}

// have buttons wrap lines - this is overwriting bulma
.button {
  white-space: normal;
  overflow-wrap: break-word;
  height: revert;
}
