// set variables used by imports then import styles

$body-size: 1rem;
$primary: rgb(53, 65, 86);
$link: rgb(39, 145, 124);
$info: rgb(190, 158, 255);
$dark: #434343;
$menu-item-active-background-color: $primary;
$family-sans-serif: "avenir", "Montserrat", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Sinhala MN", "Assistant", $family-sans-serif;

@import "../../../node_modules/bulma/bulma.sass";


// have buttons wrap lines - this is overwriting bulma
.button {
  white-space: normal;
  overflow-wrap: break-word;
  height: revert;
}

.is-isolated {
  isolation: isolate;
}

// used in vega lite svgs
text {
  font-family: $family-sans-serif;
}

#vg-tooltip-element.vg-tooltip {
  white-space: pre-wrap;
  color: #333333;
  font-family: $family-sans-serif;
  font-size: 0.7rem;
  h2 {
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1rem;
  }
  table {
    tr {
      td {
        padding-top: 1px;
        padding-bottom: 1px;

        &.value {
          font-weight: bold;
        }
      }
    }
  }

  @include mobile {
    display: none;
  }
}


.signal-grid-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
  max-width: 100%;
}